server:
  port: 3000

spring:
  application:
    name: gateway-server
  config:
    import: 'optional:configserver:'
  cloud:
    config:
      uri: 'http://localhost:3100'
      discovery:
        enabled: true
        service-id: config-server


eureka:
  eureka:
    instance:
      prefer-ip-address: false
      hostname: localhost
  client:
    register-with-eureka: true
    #필수
    fetch-registry: true
    service-url:
      defaultZone : http://localhost:3150/eureka/
